/*FFEB3B*/

@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic|Lora:400,400italic,700,700italic);

#main-wrapper, .intro-section,
body, html{
	height:100% !important;
	width:100%;
}


*{
	font-family: Lora, sans-serif;
}


.subscribe-btn,
.p-table > .header > .price > *,
.menu > ul > li > a,
.btn-minimal,
h1, h2, h3, h4, h5, h6{
	font-family: Roboto Mono, sans-serif;
}


.ScanReader{
	
   top: 10px;
   
    
   
}


img{
	max-width:100%;
}

.section{
	background:#FFF;
	position:relative;
	z-index:9;
}
.bg-lightgray{
	background:#F2F2F2;
}

.container{
	padding-left:30px;
	padding-right:30px;
	
}

.page-borders{
	position:relative;
	z-index:99;
}
.page-borders > div{
	position:fixed;
	z-index:99;
	background:#E7E7E7;
}
.page-borders > .top,
.page-borders > .bottom{
	height:25px;
	width:100%;
	left:0;
	display:none;
}
.page-borders > .top{
	top:0;
}
.page-borders > .bottom{
	bottom:0;
}
.page-borders > .left,
.page-borders > .right{
	width:25px;
	height:100%;
	top:0;
}
.page-borders > .left{
	left:0;
}
.page-borders > .right{
	right:0;
}
p{
	line-height:1.6em;
}

.v-align{
	position:relative;
	height:100%;
	width:100%;
	display:table;
}
.v-align > .inner{
	height:100%;
	width:100%;
	display:table-cell;
	vertical-align:middle;
}


.col-section-header > h2{
	margin-top:0;
	font-size:34px;
	line-height:1.4em;
	margin-bottom:20px;
	font-weight:300;
}
.col-section-header > p{
	color:rgba(0,0,0,.4);
	margin-top:0;
}


.top-section-header{
	position:relative;
	text-align:center;
}

.top-section-header > h2{
	font-size:34px;
	font-weight:700;
	margin-top:0;
	margin-bottom:10px;
	text-transform:uppercase;
	letter-spacing:2px;
}
.top-section-header > p{
	margin:0;
	color:rgba(0,0,0,.4);
	font-size:16px;
}




.intro-section > .container,
.intro-cols > div,
.intro-cols{
	height:100%;
}

.intro-cols > div{
	position:relative;
}

.intro-section:before,
.intro-section:after{
	content: ' ';
	position:absolute;
	left:0;
	height:0px;
	width:100%;
	background:#E7E7E7;
	z-index:9;
}
.intro-section:before{
	top:0;
}
.intro-section:after{
	bottom:0;
}
.intro-section{
	overflow:hidden;
	background:#FFF;
	height:100%;
}

.intro-text{
	color:#202020;
}
.intro-text > h1{
	font-size:78px;
	margin:0;
	margin-bottom:25px;
	font-weight:300;
}
.intro-text > p{
	font-size:20px;
	margin:0;
	color:rgba(0,0,0,.4);
	margin-bottom:55px;
}
.intro-cols .phone{
	width:100%;
	max-width:365px;
	margin:auto;
	bottom:-85px;
	position:relative;
}




.phone-overlay{
	display:inline-block;
	*display:inline;
	*zoom:1;
	height:100%;
}
.phone-overlay{
	position:relative;
}
.phone-overlay > .overlay{
	position:absolute;
	top:10.744677661169414%;
	left:12.287912087912088%;
	right:13.461538461538462%;
	bottom:17.391304347826086%;
	overflow:hidden;
}
.phone-overlay > .overlay > img{
	width:100%;
}



a.app-btn{
	color:#202020;
	text-decoration:none;
}
.app-btn{
	background:#65b1a6;
	display:inline-block;
	*display:inline;
	*zoom:1;
	width:180px;
	padding:2px;
	position:relative;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	margin:50px;
}
.app-btn:after{
	content: ' ';
	position:absolute;
	top:2px;
	left:2px;
	bottom:2px;
	right:2px;
	border:solid 1px #FFF;
	z-index:10;
	opacity:.8;
}
.app-btn:hover{
	background:#202020;
}




a.btn-minimal{
	text-decoration:none;
	color:#202020;
}
.btn-minimal{
	position:relative;
	padding:14px 25px;
	line-height:1em;
	border:solid 1px #C0C0C0;
	color:#202020;
	text-transform:uppercase;
	font-weight:500;
	letter-spacing:2px;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	background:transparent;
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.btn-minimal:hover{
	background:#202020;
	color:#FFF;
	border-color:#202020;
}



.intro-download-btns{
	font-size:0;
}
.intro-download-btns > .app-btn{
	margin-right:25px;
}
.intro-download-btns > .app-btn:last-of-type{
	margin-right:0;
}





.features-section{
	padding:100px 0;
	padding-top:75px;
}
.features-section .phone-img{
	text-align:center;
	display:block;
}
.features-text{
	margin-top:100px;
	text-align:center;
}
.features-text > h2{
	font-size:38px;
	font-weight:300;
	margin-top:0;
	margin-bottom:15px;
	color:#202020;
}
.features-text > p{
	font-size:16px;
	color:rgba(0,0,0,.4);
	margin:0;
	font-weight:500;
}


.features-row{
	margin-top:100px;
}
.feature{
	position:relative;
}
.feature > .icon{
	font-size:54px;
	margin-bottom:20px;
}
.feature > .content > h4{
	margin:0;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:20px;
	font-weight:500;
}
.feature > .content > p{
	color:rgba(0,0,0,.4);
	margin:0;
}



.features-2-section{
	padding-top:100px;
}
.screen-info-text{
	padding-top:80px;
	padding-bottom:100px;
}
.screen-info-text > h2{
	font-size:38px;
	font-weight:300;
	margin-bottom:20px;
}
.screen-info-text > p{	
	font-size:18px;
	color:rgba(0,0,0,.4);
	margin:0;
	margin-bottom:40px;
}

.phones{
	position:relative;
	text-align:center;
	overflow:hidden;
	height:490px;
}
.phones > .front{
	position:relative;
	z-index:5;
	width:350px;
	margin-right:-85px;
}
.phones > .back{
	width:290px;
	position:relative;
	z-index:4;
	margin-left:-85px;
}

.phones.order-alt > .back{
	margin-right:-80px;
	margin-left:auto;
}
.phones.order-alt > .front{
	margin-left:-80px;
	margin-right:auto;
}


.screenshots-section{
	padding:100px 0;
	border-top:solid 1px #F0F0F0;
}
.screenshots-section .top-section-header{
	margin-bottom:80px;
}

.screenshots-slider{
	list-style:none;
	padding:0;
	margin:0;
}
.screenshots-slider:before,
.screenshots-slider:after{
	content: ' ';
	display:table;
}
.screenshots-slider:after{
	clear:both;
}
.screenshots-slider li > .inner{
	position:relative;
	margin-right:1px;
}
.screenshots-slider li > .inner > img{
	width:100%;
}
.screenshots-slider li > .inner:before{
	content: ' ';
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	transform:scale(.2);
	transition:all .3s ease;
	opacity:0;
	visibility:hidden;
	background:rgba(40,40,40,.95);
	z-index:9;
}
.screenshots-slider li:hover > .inner:before{
	opacity:1;
	transform:scale(1);
	visibility:visible;
}
.screenshots-slider li > .inner > .overlay{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:9;
	opacity:0;
	visibility:hidden;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.screenshots-slider li:hover > .inner > .overlay{
	opacity:1;
	visibility:visible;
}
.screenshots-slider li > .inner > .overlay > .view-btn{
	color:#FFF;
	height:64px;
	width:64px;
	text-align:center;
	vertical-align:middle;
	border-radius:0%;
	border:solid 2px #FFF;
	display:block;
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin:auto;
	margin-top:-32px;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.screenshots-slider li > .inner > .overlay > .view-btn > i:before{
	line-height:64px;
	font-size:44px;
	vertical-align:middle;
}
.screenshots-slider li > .inner > .overlay > .view-btn:hover{
	background:#FFF;
	color:#202020;
}
.screenshots-slider .owl-controls{
	text-align:center;
}



.video-section{
	padding:100px 0;
}
.video-section .col-section-header{
	padding-top:50px;
}








.features-4-section{
	padding:100px 0;
}
.features-phone{
	max-width:340px;
	margin:auto;
}
.features-col{
	padding-top:60px;
}
.col-feature{
	margin-bottom:60px;
}
.col-feature > .icon{
	font-size:64px;
}
.col-feature > .content > h4{
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:2px;
	margin:0;
	margin-bottom:15px;
	font-weight:500;
}
.col-feature > .content > p{
	color:rgba(0,0,0,.4);
	font-size:16px;
}



.pricing-section{
	padding:100px 0;
}
.pricing-section .col-section-header{
	padding-top:50px;
}
.pricing-section .col-section-header > p{
	margin-bottom:35px;
}



.p-table{
	padding:60px 20px;
	border:solid 2px #E7E7E7;
	text-align:center;
}
.p-table > .header{
	margin-bottom:40px;
}
.p-table > .header > h4{
	font-size:24px;
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-bottom:40px;
}
.p-table > .header > .price{
	line-height:84px;
	height:84px;
}
.p-table > .header > .price > span{
	display:inline-block;
	*display:inline;
	*zoom:1;
	position:relative;
}
.p-table > .header > .price > .currency{
	vertical-align:top;
	line-height:1em;
	top:18px;
}
.p-table > .header > .price > .amount{
	font-size:84px;
	font-weight:600;
}
.p-table > .header > .price > .period{
	line-height:1em;
	vertical-align:baseline;
	text-transform:uppercase;
	letter-spacing:2px;
	bottom:5px;
	color:rgba(0,0,0,.4);
}
.p-table > .items{
	padding:0;
	margin:0;
	list-style:none;
	margin-bottom:35px;
}
.p-table > .items > li{
	padding:8px 0;
	color:rgba(0,0,0,.4);
	font-weight:500;
}



.subscribe-section{
	padding:100px 0;
	background-attachment:fixed;
	text-align:center;
}
.subscribe-section .section-header > h2{
	color:#FFF;
	font-size:24px;
	text-transform:uppercase;
	letter-spacing:2px;
	margin-top:0;
	margin-bottom:35px;
}
.subscribe-form{
	position:relative;
}
.subscribe-form > .subscribe-input{
	padding:12px;
	padding-right:120px;
	border:solid 1px rgba(255,255,255,.4);
	background:transparent;
	outline:none;
	display:block;
	width:100%;
	color:#FFF;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.subscribe-form > .subscribe-input:focus{
	border-color:#FFF;
}
.subscribe-form > .subscribe-input::-webkit-input-placeholder{
	color:rgba(255,255,255,.8);
}
.subscribe-form > .subscribe-btn{
	position:absolute;
	top:0;
	right:0;
	line-height:46px;
	height:46px;
	vertical-align:middle;
	text-decoration:none;
	padding-right:15px;
	padding-left:15px;
	color:#FFF;
	text-transform:uppercase;
	letter-spacing:2px;	
}
.hate-spam{
	color:rgba(255,255,255,.8);
	margin-bottom:0;
	margin-top:10px;
}





.team-section{
	padding:100px 0;
}
.team-section .col-section-header{
	padding-top:50px;
}
.team-section .col-section-header > p{
	margin-bottom:35px;
}
.team-persons{
	padding:0 15px;
	margin:-1px;
}
.team-persons > .row > div{
	padding:1px;
	margin:0;
}
.team-member{
	position:relative;
}
.team-member > img{
	width:100%;
}
.team-member:before{
	content: ' ';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(40,40,40,.95);
	z-index:11;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	-webkit-transform:scale(.2);
	-moz-transform:scale(.2);
	-ms-transform:scale(.2);
	-o-transform:scale(.2);
	transform:scale(.2);
	opacity:0;
	visibility:hidden;
}
.team-member:hover:before{
	opacity:1;
	visibility:visible;
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	transform:scale(1);
}
.team-member > .overlay{
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	opacity:0;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	z-index:18;
	text-align:center;
	color:#FFF;
}
.team-member:hover > .overlay{
	opacity:1;
}
.team-member > .overlay .team-social{
	list-style:none;
	padding:0;
	margin:0;
	font-size:0;
}
.team-member > .overlay .team-social > li{
	display:inline-block;
	*display:inline;
	*zoom:1;
}
.team-member > .overlay .team-social > li > a{
	display:block;
	color:rgba(255,255,255,.8);
	padding:5px 10px;
	font-size:18px;
}
.team-member > .overlay .team-social > li > a:hover{
	color:#FFF;
}
.team-member > .overlay .inner > h4{
	text-transform:uppercase;
	letter-spacing:2px;
	margin:0;
}
.team-member > .overlay .inner > p{
	margin-top:2px;
	margin-bottom:15px;
	color:rgba(255,255,255,.6);
}



.clients-section{
	padding:100px 0;
}
.clients-section .top-section-header{
	margin-bottom:80px;
}
.clients{
	margin:0;
	padding:0;
	list-style:none;
}
.clients:before,
.clients:after{
	content: ' ';
	display:table;
}
.clients:after{
	clear:both;
}
.clients > li{
	width:33.333%;
	float:left;
	padding:25px;
	border:solid 1px #C0C0C0;
	margin-left:-1px;
	margin-top:-1px;
	position:relative;
	z-index:1;
}
.clients > li > img{
	opacity:.4;
}
.clients > li:hover{
	border-color:#202020;
	z-index:9;
}
.clients > li:hover > img{
	opacity:1;
}


.testimonials-slider{
	position:relative;
}
.testimonial{
	position:relative;
}
.testimonial > .icon{
	position:absolute;
	top:0;
	left:0;
	color:rgba(0,0,0,.08);
	font-size:75px;
}
.testimonial > .content{
	padding-top:35px;
	margin-bottom:30px;
}
.testimonial > .content > p{
	margin:0;
	font-size:18px;
	font-weight:300;
	position:relative;
	z-index:4;
}
.testimonial > .author > h4{
	margin:0;
	font-size:18px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:bold;
	margin-bottom:2px;
}
.testimonial > .author > span{
	font-size:14px;
	color:rgba(0,0,0,.4);
}


.faq-section{
	padding:100px 0;
	padding-bottom:50px;
}
.faq-section .top-section-header{
	margin-bottom:80px;
}
.faq{
	position:relative;
	margin-bottom:50px;
}
.faq > h4{
	text-transform:uppercase;
	letter-spacing:2px;
	font-weight:500;
	margin:0;
	font-size:16px;
	margin-bottom:4px;
}
.faq > p{
	color:rgba(0,0,0,.4);
}

.download-section{
	padding:100px 0;
	background-attachment:fixed;
}

.download-text > h2{
	margin-top:0;
	font-size:48px;
	font-weight:300;
	margin-bottom:25px;
	color:#FFF;
}

.download-text > p{
	color:rgba(255,255,255,.8);
	font-size:16px;
	margin:0;
}
.download-btns{
	margin-top:45px;
	font-size:0;
}
.download-btns > .app-btn{
	margin:0 15px;
	text-align:left;
}




.contact-section{
	padding:100px 0;
}
.contact-form .alert{
	border-radius:0;
	background:#FFF;
}
.form-control{
	padding:11px;
	height:auto;
	border:solid 1px #C0C0C0;
	border-radius:0;
	-webkit-box-shadow:none !important;
	-moz-box-shadow:none !important;
	box-shadow:none !important;
	background:transparent;
}
.form-control:focus{
	border-color:#202020;
}
textarea.form-control{
	resize:vertical;
}
.contact-section .top-section-header{
	margin-bottom:80px;
}
.contact-form .form-group{
	margin-bottom:20px;
}
.contact-form > div:last-of-type > .form-group:last-of-type{
	margin-bottom:0;
}
.contact-form textarea{
	min-height:108px;
}



footer{
	padding:35px 0;
	background:#E7E7E7;
}
footer p{
	color:rgba(0,0,0,.4);
	margin:0;
}








.menu-btn{
	position:fixed;
	display:block;
	top:25px;
	right:25px;
	text-decoration:none;
	color:#FFF;
	z-index:99;
	padding:16px;
	background:#202020;
}
.menu-btn > .lines{
	display:block;
	width:33px;
	height:19px;
	position:relative;
}
.menu-btn > .lines > span{
	height:1px;
	width:100%;
	display:block;
	background:#FFF;
	position:absolute;
	left:0;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.menu-btn > .lines > .l1{
	top:0;
}
.menu-btn > .lines > .l2{
	top:9px;
}
.menu-btn > .lines > .l3{
	top:18px;
}

body.show-menu .menu-btn > .lines > .l2{
	opacity:0;
}
body.show-menu .menu-btn > .lines > .l1,
body.show-menu .menu-btn > .lines > .l3{
	top:50%;
	margin-top:-1px;
}
body.show-menu .menu-btn > .lines > .l1{
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

body.show-menu .menu-btn > .lines > .l3{
	-webkit-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}



.menu{
	position:fixed;
	z-index:99;
	top:25px;
	right:91px;
	background:#202020;
	height:51px;
	line-height:51px;
	color:#FFF;
	padding:0 17px;
	-webkit-transform:translateY(-15px);
	-moz-transform:translateY(-15px);
	-ms-transform:translateY(-15px);
	-o-transform:translateY(-15px);
	transform:translateY(-15px);
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	opacity:0;
	visibility:hidden;
}
body.show-menu .menu{
	opacity:1;
	visibility:visible;
	-webkit-transform:translateY(0);
	-moz-transform:translateY(0);
	-ms-transform:translateY(0);
	-o-transform:translateY(0);
	transform:translateY(0);
}
.menu > ul{
	list-style:none;
	padding:0;
	margin:0;
	font-size:0;
}
.menu > ul > li{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin:0 3px;
}
.menu > ul > li > a{
	display:block;
	font-size:12px;
	font-weight:500;
	text-transform:uppercase;
	letter-spacing:2px;
	color:#FFF;
	color:rgba(255,255,255,.6);
	text-decoration:none;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
	padding:0 14px;
}
.menu > ul > li > a:hover{
	color:#FFF;
}



#preloader{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:#FFF;
	z-index:999;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	transition:all .3s ease;
}
.no-js #preloader{
	display:none;
}
#preloader > .loader{
	position:absolute;
	top:50%;
	left:0;
	right:0;
	height:92px;
	width:92px;
	margin:auto;
	margin-top:-46px;
}
body.loaded #preloader{
	visibility:hidden;
	opacity:0;
}




.owl-controls{
	margin-top:20px;
}
.owl-controls > .owl-dots{
	font-size:0;
}
.owl-controls > .owl-dots > .owl-dot{
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-right:8px;
}
.owl-controls > .owl-dots > .owl-dot > span{
	height:4px;
	width:38px;
	display:block;
	background:#C0C0C0;
	margin:10px 0;
}
.owl-controls > .owl-dots > .owl-dot.active > span,
.owl-controls > .owl-dots > .owl-dot:hover > span{
	background:#202020;
}



@media(max-width:992px){
	.intro-section{
		height:auto !important;
	}
	.intro-text{
		text-align:center;
		padding:100px 0;
	}
	.feature{
		text-align:center;
	}
	.phones{
		border-bottom:solid 4px #202020;
	}
	.screen-info-text{
		text-align:center;
	}
	.team-section .col-section-header,
	.pricing-section .col-section-header,
	.video-section .col-section-header{
		padding-bottom:50px;
		padding-top:0;
	}
	.p-table{
		margin-bottom:50px;
	}
	div:last-of-type > .p-table{
		margin-bottom:0;
	}
	.col-feature{
		text-align:center;
		max-width:400px;
		margin:auto;
		margin-bottom:25px;
	}
	.features-phone{
		margin-top:80px;
		margin-bottom:30px;
	}
	.features-col{
		padding:0;
	}
	.screen-toggles > li.active:before{
		display:none;
	}
	.testimonials-slider{
		margin-top:50px;
	}
	.container{
		padding-left:40px;
		padding-right:40px;
	}
	.feature{
		margin-bottom:25px;
	}
	div:last-of-type > .feature{
		margin-bottom:0;
	}
}
@media(max-width:820px){
	.menu{
		top:0;
		left:0;
		right:0;
		bottom:0;
		text-align:center;
		width:auto;
		height:auto;
	}
	.menu-btn{
		z-index:999;
	}
	.menu > ul{
		position:absolute;
		top:50%;
		left:0;
		right:0;
		-webkit-transform:translateY(-50%);
		-moz-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
		-o-transform:translateY(-50%);
		transform:translateY(-50%);
	}
	.menu > ul > li{
		display:block;
	}
	.menu > ul > li > a{
		line-height:1em;
		font-size:16px;
		padding:20px 0;
	}
}
@media(max-width:768px){
	.clients > li{
		width:50%;
	}
	.container{
		padding-left:30px;
		padding-right:30px;
	}
	.page-borders > .left,
	.page-borders > .right{
		width:15px;
	}
	.intro-section:before,
	.intro-section:after{
		height:15px;
	}
	.menu-btn{
		top:15px;
		right:15px;
	}
}
@media (max-width:600px){
	.menu-btn{
		top:10px;
		right:10px;
	}
	.page-borders > .left,
	.page-borders > .right{
		width:10px;
	}
	.intro-section:before,
	.intro-section:after{
		height:10px;
	}
	.phones{
		border:none;
		height:auto;
	}
	.phones > .front{
		width:55%;
	}
	.phones > .back{
		width:50%;
	}
}
@media (max-width:500px){
	.app-btn{
		margin:5px auto !important;
		display:block;
	}
}