html {
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    
    margin: 0 auto;

    display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

a{
    text-decoration: none;
}

a:hover{
    color: inherit;
}

a:visited{
    color: inherit;
}

/* header*/
/* navbar*/
.header .container nav{
padding-top: 5%;
}


.navbar li{
    float: left;
    list-style-type: none;
    display: flex; 
    justify-content: center;
    text-align: center;
}

.navbar li:hover{
    background: rgb(233, 233, 233);
    color:black;
    border-left: 1px solid #2c323d;
}

.navbar li a:hover{
    color:black;
}

.header{
    background: #41563f ;
}

.navbar a{
    display: block;
    line-height: 80px;
    padding: 0 24px 0 24px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
}

.logo{
    padding-top: 2%;
    margin: 0 auto;
    text-align: center;
}

/*
hero
*/


/*
Middle
*/

Main{
padding-top: 10px;
}

.form{
    padding:10%;
}
/* FORM TYPOGRAPHY*/

.input,input[type=button], input[type=submit], input[type=reset]  {
    background-color: #41563f;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
/*    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);*/
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;

  }
  
  .input:hover,input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #41563f;
  }
  
  .input:active, input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }
  
  .input, input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;

  }
  
  input:focus,input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #41563f;
  }
  
  input:placeholder, input[type=text]:placeholder {
    color: #cccccc;
  }




  #formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
/*
Footer
*/
footer{
    /*background-color: #41563f;*/
    line-height: 120px;
}






















/* 
Social media links
*/
@font-face {
    font-family: 'si';
    src: url('socicon/socicon.eot');
    src: url('socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('socicon/socicon.woff') format('woff'),
         url('socicon/socicon.ttf') format('truetype'),
         url('socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(socicon/socicon.svg) format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
    text-align: center;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-right: 10px;
    color: #000000;
    background-color: #ffffff;
}

.soc a:hover {
    z-index: 2;
    background-color:#ebebeb !important;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-twitter:before {
    content:'\e040';
}
.soc-facebook:before {
    content:'\e041';
}
.soc-googleplus:before {
    content:'\e042';
}
.soc-pinterest:before {
    content:'\e043';
}
.soc-linkedin:before {
    content:'\e049';
}
.soc-rss:before {
    content:'\e00b';
}
