@import url(https://unpkg.com/bootstrap@4.1.0/dist/css/bootstrap.min.css);

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


html {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  
margin: 0 auto;
margin-top: 50px;
display: flex;
align-items: center;
flex-direction: column; 
justify-content: center;
width: 100%;
min-height: 100%;

}

.container:after {
  content: "";
  display: table;
  clear: both;
}

a{
  text-decoration: none;
}

a:hover{
  color: inherit;
}

a:visited{
  color: inherit;
}

/* header*/
/* navbar*/
.header .container nav{
padding-top: 5%;
}


.navbar li{
  float: left;
  list-style-type: none;
  display: flex; 
  justify-content: center;
  text-align: center;
}

.navbar li:hover{
  background: rgb(233, 233, 233);
  color:black;
  border-left: 1px solid #2c323d;
}

.navbar li a:hover{
  color:black;
}

.header{
  background: #41563f ;
}

.navbar a{
  display: block;
  line-height: 80px;
  padding: 0 24px 0 24px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}

.logo{
  padding-top: 2%;
  margin: 0 auto;
  text-align: center;
}

/*
hero
*/


/*
Middle
*/

Main{
padding: 10%;
}
/* FORM TYPOGRAPHY*/

.input,input[type=button], input[type=submit], input[type=reset]  {
  background-color: #41563f;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
/*    -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);*/
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;

}

.input:hover,input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #41563f;
}

.input:active, input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.input, input[type=text] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;

}

input:focus,input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #41563f;
}

input:placeholder, input[type=text]:placeholder {
  color: #cccccc;
}




#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
/*
Footer
*/
footer{
  /*background-color: #41563f;*/
  line-height: 120px;
}




/*
======================================================
SCAN CODE QR PART
======================================================
*/
.ScanReader{
  float: left;
}

















/*
Yasoo
*/

html {
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.myOffers .container {
  width: 100%;
  margin: 0 auto;
}

.myOffers .container:after {
  content: "";
  display: table;
  clear: both;
}

.myOffers a{
  text-decoration: none;
}

.myOffers a:hover{
  color: inherit;
}

.myOffers a:visited{
  color: inherit;
}



/*
Middle
*/

.container:after,
.blocks:after {
  content: "";
  display: table;
  clear: both;
}

.myOffers .blocks{
  padding-top: 100px;
  margin-bottom: 70px;
}

.myOffers .container {
  width: 88%;
}

.myOffers .blocks .block {
  float: left;
  width: 25%;
  margin-left: 0%;
  margin-bottom: 20px;
  padding: 15px;
  min-width: 340px;
  min-height: 360px;

}

.myOffers .title{
  background: white;
  padding: 20px;
  padding-bottom: 0;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 20px;
  font-weight: 800;
  text-align: center;
  display: block;
}

.myOffers .image{
text-align: center;
border: 1px solid gray;
padding: 10px;
}

.getOffer{
text-align: center;
margin: 0;
}

.price{
color: goldenrod;
}

